.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--token-QEWRsY0Wl);
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    padding-left: 0px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.nav:global(.__wab_instance) {
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 2;
  margin-top: calc(0px + 0px) !important;
  margin-bottom: 0px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .nav:global(.__wab_instance) {
    margin-top: calc(0px + 0px) !important;
    flex-shrink: 0;
  }
}
.navsynced:global(.__wab_instance) {
  margin-top: calc(0px + 0px) !important;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navsynced:global(.__wab_instance) {
    margin-top: calc(0px + 0px) !important;
    flex-shrink: 0;
  }
}
.scrollParallax__p2Ewc:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: auto;
  top: 1083px;
  z-index: 1;
  right: 158px;
  flex-grow: 0;
  transform: none;
  display: none;
}
.img___19Yrv {
  position: relative;
  object-fit: cover;
  max-width: 200px;
  left: auto;
  top: auto;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(90deg);
  margin: 0px;
}
.img___19Yrv > picture > img {
  object-fit: cover;
}
.img___19Yrv > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___19Yrv {
    top: auto;
    max-width: 150px;
    left: auto;
  }
}
.scrollParallax__iiFd:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 83px;
  top: 800px;
  z-index: 1;
  display: none;
}
.img__vDv {
  position: relative;
  object-fit: cover;
  max-width: 200px;
  left: auto;
  top: auto;
  margin: 0px;
}
.img__vDv > picture > img {
  object-fit: cover;
}
.img__vDv > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__vDv {
    top: auto;
    max-width: 150px;
    left: auto;
  }
}
.scrollParallax__epQb:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: auto;
  top: 704px;
  z-index: 1;
  right: 143px;
  display: none;
}
.img___5TIzU {
  position: relative;
  object-fit: cover;
  max-width: 106px;
  left: auto;
  top: auto;
  margin: 0px;
}
.img___5TIzU > picture > img {
  object-fit: cover;
}
.img___5TIzU > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___5TIzU {
    max-width: 90px;
    left: auto;
    top: auto;
  }
}
.scrollParallax__y6T4N:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 181px;
  top: 1200px;
  z-index: 1;
  display: none;
}
.img__wmhj9 {
  position: relative;
  object-fit: cover;
  max-width: 106px;
  left: auto;
  top: auto;
  margin: 0px;
}
.img__wmhj9 > picture > img {
  object-fit: cover;
}
.img__wmhj9 > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__wmhj9 {
    max-width: 90px;
    left: auto;
    top: auto;
  }
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  align-content: unset;
  background: url("./images/image.png") top 50% left 50% / cover repeat, #0000000f;
  align-self: center;
  margin-bottom: 0px;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  min-width: 0;
  padding: 0px 0px 266px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hero {
    padding-bottom: 102px;
    margin-bottom: -179px;
    transform: translateX(0px) translateY(0px) translateZ(0px);
    background: url("./images/image.png") top 50% right -102.9% / cover repeat,
      #0000000f;
    padding-left: 12px;
    display: flex;
  }
}
.columns__ppWGv {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 1080px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  margin-top: 149px;
  min-width: 0;
}
.columns__ppWGv > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.columns__ppWGv > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 20px) * 6 / 12);
}
.columns__ppWGv > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 20px) * 6 / 12);
}
.columns__ppWGv > :global(.__wab_flex-container) > *,
.columns__ppWGv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__ppWGv > :global(.__wab_flex-container) > picture > img,
.columns__ppWGv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ppWGv {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-top: 461px;
    margin-left: 49px;
    margin-right: 0px;
    padding-right: 62px;
    max-width: 550px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ppWGv > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ppWGv > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 20px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ppWGv > :global(.__wab_flex-container) > *,
  .columns__ppWGv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__ppWGv > :global(.__wab_flex-container) > picture > img,
  .columns__ppWGv
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column___7CsWt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
  background: none;
  padding-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___7CsWt {
    width: 100%;
  }
}
.reveal___24GP:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__jlS2Q {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  padding-bottom: 23px;
  box-shadow: 4px 4px 0px 0px #00000033;
  min-width: 400px;
  background: #ffffffb3;
  backdrop-filter: blur(8px);
  left: auto;
  top: auto;
  z-index: 1;
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid #ffffff;
}
.freeBox__jlS2Q > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__jlS2Q > :global(.__wab_flex-container) > *,
.freeBox__jlS2Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jlS2Q > :global(.__wab_flex-container) > picture > img,
.freeBox__jlS2Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jlS2Q {
    padding-top: 0px;
    margin-top: 0px;
    left: auto;
    top: auto;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }
}
.text__jcwI3 {
  font-size: 35px;
  color: #050505;
  line-height: 35.52px;
  font-family: var(--token--BGala8GD);
  font-weight: 700;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: 2px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-left: 66px;
  padding-right: 66px;
  padding-top: 36px;
  min-width: 400px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jcwI3 {
    margin-top: calc(0px + 32px) !important;
    padding-top: 44px;
    max-width: 453px;
    width: 100%;
    font-size: 36px;
    min-width: 0;
  }
}
.button__hcXk0:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__gqbke {
  font-family: var(--token--BGala8GD);
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__rgEd {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__cfix2 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column___4QaBn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
  align-items: center;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___4QaBn {
    width: 100%;
    display: none;
  }
}
.body1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 200px;
  max-width: 95%;
  align-self: auto;
  margin-top: calc(-40px + 0px) !important;
  margin-bottom: -40px;
  margin-left: -7px;
  margin-right: 0px;
  background: #fcfbfb;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(-2deg);
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .body1 {
    height: 152px;
    margin-left: -2px;
    margin-top: calc(177px + 0px) !important;
    margin-bottom: -26px;
    flex-shrink: 0;
  }
}
.freeBox__eqGAm {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #fcfbfb;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  box-shadow: 0px 0px 0px 0px #00000033;
  transform-origin: 51% 50%;
  perspective-origin: 50% 50%;
  margin-bottom: -118px;
  margin-left: 0px;
  min-height: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eqGAm {
    padding-top: 90px;
    padding-bottom: 70px;
    transform: skewX(0deg) skewY(0deg);
    margin-left: 0px;
    margin-bottom: 0px;
  }
}
.freeBox__vj96X {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 405px;
  max-width: 95%;
  align-self: center;
  margin-top: calc(0px + 0px) !important;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  background: #fcfbfb;
  box-shadow: none;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vj96X {
    padding-top: 0px;
    height: 743px;
    margin-top: calc(3px + 0px) !important;
    margin-bottom: -9px;
    flex-shrink: 0;
    display: flex;
  }
}
.freeBox__mSooo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
  max-width: 100%;
  margin-top: -46px;
  width: 100%;
  transform: scaleX(1) scaleY(1) scaleZ(1);
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mSooo {
    margin-top: -144px;
    margin-bottom: 0px;
  }
}
.freeBox__q7I1O {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  box-shadow: none;
  margin-top: 0px;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  margin-bottom: 0px;
  align-self: auto;
  min-width: 0;
  padding: 0px 30px;
}
.freeBox__q7I1O > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.freeBox__q7I1O > :global(.__wab_flex-container) > *,
.freeBox__q7I1O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__q7I1O > :global(.__wab_flex-container) > picture > img,
.freeBox__q7I1O
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__q7I1O {
    padding: 50px 15px;
  }
}
.freeBox__ve10 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1140px;
  margin-top: calc(0px + 30px) !important;
  align-self: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ve10 {
    margin-top: calc(0px + 30px) !important;
    padding: 8px;
  }
}
.reveal__vUcD:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .reveal__vUcD:global(.__wab_instance) {
    height: 927px;
  }
}
.text__nbtI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 47px;
  font-family: var(--token--BGala8GD);
  padding-top: 0px;
  min-width: 0;
}
.freeBox__lGcvZ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 95%;
  background: var(--token-T4TXS7e2a);
  transform: rotateX(0deg) rotateY(0deg) rotateZ(1.5deg);
  margin-right: 4px;
  margin-left: 7px;
  margin-top: calc(-30px + 0px) !important;
  margin-bottom: -9px;
  align-self: center;
  max-height: 0px;
  border-top-width: 14px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  min-width: 0;
  padding: 0px 0px 90px;
  border-style: solid;
  border-color: var(--token-QEWRsY0Wl);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lGcvZ {
    margin-left: 2px;
    max-width: 95%;
    margin-right: 0px;
    margin-bottom: -12px;
    margin-top: calc(-14px + 0px) !important;
    display: flex;
    padding: 60px 10px;
  }
}
.freeBox__zY1N {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 95%;
  background: var(--token-T4TXS7e2a);
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  margin-top: calc(-13px + 0px) !important;
  min-width: 0;
  padding: 40px 15px 15px;
  border-top: 0px solid #0d61ff;
  border-bottom: 0px solid #0d61ff;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zY1N {
    padding-top: 0px;
    padding-bottom: 50px;
    margin-top: calc(0px + 0px) !important;
  }
}
.freeBox__qnEPj {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1140px;
  margin-top: 0px;
  align-self: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qnEPj {
    padding: 8px;
  }
}
.freeBox___6Fwl4 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  position: relative;
}
.columns__qI60L {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__qI60L > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
}
.columns__qI60L > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__qI60L > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qI60L {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qI60L > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qI60L > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qI60L > :global(.__wab_flex-container) > *,
  .columns__qI60L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__qI60L > :global(.__wab_flex-container) > picture > img,
  .columns__qI60L
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
.column__yPG {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 50px 120px;
}
.column__yPG > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.column__yPG > :global(.__wab_flex-container) > *,
.column__yPG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__yPG > :global(.__wab_flex-container) > picture > img,
.column__yPG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__yPG {
    padding: 0px 30px 30px;
  }
}
.h2___9XNjW {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 28px;
  color: #fcfbfb;
  min-width: 0;
}
.freeBox__os20I {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  position: relative;
}
.freeBox__tJtVb {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  position: relative;
}
.columns___0Ioju {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns___0Ioju > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___0Ioju {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___0Ioju > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__tO9M {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 0px;
}
.h6__d6P1F {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__wa2GF {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  position: relative;
}
.freeBox__eP5P {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  position: relative;
  width: 100%;
  height: 50px;
  min-width: 0;
  flex-shrink: 0;
}
.columns__c8Ge0 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 0;
  min-width: 0;
  padding: 0px;
}
.columns__c8Ge0 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.columns__c8Ge0 > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 10px) * 2 / 12);
}
.columns__c8Ge0 > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 10px) * 10 / 12);
}
.columns__c8Ge0 > :global(.__wab_flex-container) > *,
.columns__c8Ge0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__c8Ge0 > :global(.__wab_flex-container) > picture > img,
.columns__c8Ge0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__c8Ge0 {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__c8Ge0 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 0;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__c8Ge0 > :global(.__wab_flex-container) > :nth-child(2n + 1) {
    width: calc((100% - 2 * 10px) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__c8Ge0 > :global(.__wab_flex-container) > :nth-child(2n + 2) {
    width: calc((100% - 2 * 10px) * 9 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__c8Ge0 > :global(.__wab_flex-container) > *,
  .columns__c8Ge0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__c8Ge0 > :global(.__wab_flex-container) > picture > img,
  .columns__c8Ge0
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
.column__p7TqA {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.freeBox__lBfsE {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  position: relative;
}
.select__sEQmY:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: auto;
  max-height: none;
}
.text__st2Od {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #706f6c;
  text-align: left;
  text-transform: none;
  letter-spacing: 1px;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.column__bClh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 0px;
}
.freeBox___6E1Ue {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  position: relative;
}
.button__le0ZQ:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__gqp0G {
  font-family: "Rubik", sans-serif;
  font-size: 28px;
  font-weight: 500;
  font-style: normal;
  color: var(--token-yr1dE_U7BXXxgm);
  text-align: left;
  text-transform: none;
  letter-spacing: 1px;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.column___2U0L7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.tilt:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__kpJmm {
  object-fit: cover;
  width: auto;
  height: auto;
}
.img__kpJmm > picture > img {
  object-fit: cover;
}
.img__kpJmm > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox___6Uevv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 95%;
  background: #ff85b4;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(-1.5deg);
  margin-right: -3px;
  margin-left: 0px;
  margin-top: calc(-27px + 0px) !important;
  margin-bottom: 0px;
  box-shadow: none;
  min-width: 0;
  padding: 0px 0px 90px;
  border-bottom: 20px solid #fdfb75;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6Uevv {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: calc(-80px + 0px) !important;
    margin-right: -3px;
  }
}
.freeBox__j146X {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 95%;
  align-self: center;
  margin-top: calc(0px + 0px) !important;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  background: #fcfbfb;
  box-shadow: none;
  min-width: 0;
  min-height: 0;
  padding: 100px 30px 45px;
}
.freeBox__j146X > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.freeBox__j146X > :global(.__wab_flex-container) > *,
.freeBox__j146X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__j146X > :global(.__wab_flex-container) > picture > img,
.freeBox__j146X
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
.freeBox__n8TF {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1140px;
  margin-top: calc(0px + 30px) !important;
  align-self: center;
  min-width: 0;
  padding: 100px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__n8TF {
    margin-top: calc(0px + 30px) !important;
    padding: 8px;
  }
}
.freeBox__v6Dw1 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  position: relative;
}
.columns__ikZX {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__ikZX > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__ikZX > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ikZX {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ikZX > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__z2Sfa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__auy1 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  position: relative;
  height: 100%;
  min-height: 0;
}
.column__rzUpk {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 50px 120px;
}
.column__rzUpk > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.column__rzUpk > :global(.__wab_flex-container) > *,
.column__rzUpk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__rzUpk > :global(.__wab_flex-container) > picture > img,
.column__rzUpk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__rzUpk {
    padding: 30px 30px 0px;
  }
}
.img__yX6C {
  position: absolute;
  object-fit: cover;
  max-width: 200px;
  margin-bottom: 0px;
  margin-top: calc(0px + 20px) !important;
  margin-right: 0px;
  margin-left: 0px;
  left: auto;
  top: -200px;
  bottom: auto;
  right: -100px;
}
.img__yX6C > picture > img {
  object-fit: cover;
}
.img__yX6C > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__yX6C {
    right: 0px;
    top: -490px;
    max-width: 150px;
    margin-top: calc(0px + 20px) !important;
  }
}
.h2__r0Yu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 28px;
  min-width: 0;
}
.freeBox__lWmr7 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  position: relative;
}
.freeBox__ykmH3 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  position: relative;
}
.columns__bMcKc {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns__bMcKc > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bMcKc {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bMcKc > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__fqJ1L {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 0px;
}
.h6__y7ZDy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox___28TGv {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  position: relative;
}
.freeBox__yoT2T {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  position: relative;
  width: 100%;
  height: 50px;
  min-width: 0;
  flex-shrink: 0;
}
.columns___26Jjc {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 0;
  min-width: 0;
  padding: 0px;
}
.columns___26Jjc > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.columns___26Jjc > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 10px) * 2 / 12);
}
.columns___26Jjc > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 10px) * 10 / 12);
}
.columns___26Jjc > :global(.__wab_flex-container) > *,
.columns___26Jjc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___26Jjc > :global(.__wab_flex-container) > picture > img,
.columns___26Jjc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___26Jjc {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___26Jjc > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 0;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___26Jjc > :global(.__wab_flex-container) > :nth-child(2n + 1) {
    width: calc((100% - 2 * 10px) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___26Jjc > :global(.__wab_flex-container) > :nth-child(2n + 2) {
    width: calc((100% - 2 * 10px) * 9 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___26Jjc > :global(.__wab_flex-container) > *,
  .columns___26Jjc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___26Jjc > :global(.__wab_flex-container) > picture > img,
  .columns___26Jjc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
.column__gJjZo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.freeBox__f0LFf {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  position: relative;
}
.select__xyNgx:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: auto;
  max-height: none;
}
.text__tpXw4 {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #706f6c;
  text-align: left;
  text-transform: none;
  letter-spacing: 1px;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.column__jWyDu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 0px;
}
.freeBox__jmnIp {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  position: relative;
}
.button__p5CyQ:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__uhlcn {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: var(--token-GQDOf6FevecNcO);
  text-align: left;
  text-transform: none;
  letter-spacing: 1px;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.img__fthMj {
  position: relative;
  object-fit: cover;
  max-width: 106px;
  margin-bottom: 0px;
  margin-top: calc(0px + 30px) !important;
  margin-right: 0px;
  margin-left: 0px;
}
.img__fthMj > picture > img {
  object-fit: cover;
}
.img__fthMj > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__fthMj {
    max-width: 90px;
    margin-top: calc(0px + 30px) !important;
  }
}
.freeBox___0PcGu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 95%;
  background: #ff85b4;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(1deg);
  margin-right: 0px;
  margin-left: 2.5px;
  margin-top: calc(0px + 0px) !important;
  margin-bottom: -13px;
  align-self: center;
  min-width: 0;
  padding: 0px 0px 90px;
  border-top: 20px solid #fdfb75;
  border-bottom: 0px none #00a95a;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0PcGu {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 0.5px;
    margin-top: calc(0px + 0px) !important;
    display: flex;
  }
}
.freeBox__kGMv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 95%;
  background: #ff85b4;
  margin-top: calc(-17px + 0px) !important;
  min-width: 0;
  padding: 100px 15px 40px;
  border-top: 0px solid #00a95a;
  border-bottom: 0px solid #00a95a;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kGMv {
    width: 100%;
    height: auto;
    max-width: 95%;
    margin-top: calc(-80px + 0px) !important;
    background: #ff85b4;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-column-gap: 0px;
    min-width: 0;
    padding: 40px 15px 30px;
    border-top: 0px solid #00a95a;
    border-bottom: 0px solid #00a95a;
  }
}
.freeBox___1F1J9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  max-width: 100%;
  align-self: center;
  margin-top: 0px;
  padding: 8px;
}
.freeBox___8IR97 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1140px;
  min-width: 0;
  padding: 0px;
}
.freeBox__pyE5M {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  position: relative;
}
.columns__bqlGh {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__bqlGh > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__bqlGh > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bqlGh {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bqlGh > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___7KxNg {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 50px 120px;
}
.column___7KxNg > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.column___7KxNg > :global(.__wab_flex-container) > *,
.column___7KxNg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___7KxNg > :global(.__wab_flex-container) > picture > img,
.column___7KxNg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___7KxNg {
    padding: 0px 30px 30px;
  }
}
.h2___1P1Gn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 28px;
  color: #fcfbfb;
  min-width: 0;
}
.freeBox___0F7N {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  position: relative;
}
.freeBox__qGbSs {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  position: relative;
}
.columns__y8KHf {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns__y8KHf > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__y8KHf {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__y8KHf > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__lifO2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 0px;
}
.h6__dip8J {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__vdYs1 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  position: relative;
}
.freeBox__zK3JC {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  position: relative;
  width: 100%;
  height: 50px;
  min-width: 0;
  flex-shrink: 0;
}
.columns___1AAup {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 0;
  min-width: 0;
  padding: 0px;
}
.columns___1AAup > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.columns___1AAup > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 10px) * 2 / 12);
}
.columns___1AAup > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 10px) * 10 / 12);
}
.columns___1AAup > :global(.__wab_flex-container) > *,
.columns___1AAup > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___1AAup > :global(.__wab_flex-container) > picture > img,
.columns___1AAup
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___1AAup {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___1AAup > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 0;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___1AAup > :global(.__wab_flex-container) > :nth-child(2n + 1) {
    width: calc((100% - 2 * 10px) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___1AAup > :global(.__wab_flex-container) > :nth-child(2n + 2) {
    width: calc((100% - 2 * 10px) * 9 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___1AAup > :global(.__wab_flex-container) > *,
  .columns___1AAup > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___1AAup > :global(.__wab_flex-container) > picture > img,
  .columns___1AAup
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
.column__u1XG {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.freeBox__ni6XL {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  position: relative;
}
.select__j0Jg7:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: auto;
  max-height: none;
}
.text__akIgP {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #706f6c;
  text-align: left;
  text-transform: none;
  letter-spacing: 1px;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.column__rlKyz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 0px;
}
.freeBox__xjF36 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  position: relative;
}
.button__urhK1:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__rr0OU {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: var(--token-yr1dE_U7BXXxgm);
  text-align: left;
  text-transform: none;
  letter-spacing: 1px;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.column__o4TfF {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__gMvIg {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  position: relative;
  height: 100%;
  min-height: 0;
}
.freeBox___90Dgu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 95%;
  background: #ff85b4;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(-1deg);
  margin-right: -3px;
  margin-left: 0px;
  margin-top: calc(-27px + 0px) !important;
  margin-bottom: 0px;
  box-shadow: none;
  min-width: 0;
  padding: 0px 0px 90px;
  border-bottom: 20px solid #fdfb75;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___90Dgu {
    width: 100%;
    height: auto;
    max-width: 95%;
    margin-top: calc(-80px + 0px) !important;
    margin-right: -1px;
    margin-bottom: 0px;
    margin-left: 0px;
    background: #ff85b4;
    box-shadow: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-column-gap: 0px;
    min-width: 0;
    padding: 40px 0px 50px;
    border-bottom: 20px solid #fdfb75;
  }
}
.freeBox__miBR {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 95%;
  box-shadow: 0px 9px 20px 0px #00000017;
  margin-top: calc(-18px + 0px) !important;
  min-width: 0;
  padding: 110px 30px 45px;
}
.freeBox__miBR > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.freeBox__miBR > :global(.__wab_flex-container) > *,
.freeBox__miBR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__miBR > :global(.__wab_flex-container) > picture > img,
.freeBox__miBR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__miBR {
    width: 100%;
    height: auto;
    max-width: 95%;
    flex-direction: column;
    margin-top: calc(-18px + 0px) !important;
    min-width: 0;
    padding: 170px 15px 50px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__miBR > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 30px);
    height: calc(100% + 30px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__miBR > :global(.__wab_flex-container) > *,
  .freeBox__miBR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__miBR > :global(.__wab_flex-container) > picture > img,
  .freeBox__miBR
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 30px;
  }
}
.freeBox__jn44P {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1140px;
  margin-top: calc(0px + 30px) !important;
  align-self: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__e56Gn {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  position: relative;
}
.columns___4S515 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns___4S515 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns___4S515 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___4S515 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___4S515 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__ylb8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__u8JZy {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  position: relative;
  height: 100%;
  min-height: 0;
}
.column__lWhct {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 50px 120px;
}
.column__lWhct > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.column__lWhct > :global(.__wab_flex-container) > *,
.column__lWhct > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__lWhct > :global(.__wab_flex-container) > picture > img,
.column__lWhct
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__lWhct {
    padding: 30px 30px 0px;
  }
}
.img__pItW {
  position: absolute;
  object-fit: cover;
  max-width: 200px;
  margin-bottom: 0px;
  margin-top: calc(0px + 20px) !important;
  margin-right: 0px;
  margin-left: 0px;
  left: auto;
  top: -200px;
  bottom: auto;
  right: -100px;
}
.img__pItW > picture > img {
  object-fit: cover;
}
.img__pItW > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__pItW {
    right: 0px;
    top: -490px;
    max-width: 150px;
    margin-top: calc(0px + 20px) !important;
  }
}
.h2__aIhHy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 28px;
  min-width: 0;
}
.freeBox__tUyV {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  position: relative;
}
.freeBox__bH5El {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  position: relative;
}
.columns__uuFbK {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns__uuFbK > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__uuFbK {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__uuFbK > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__qWfGr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 0px;
}
.h6__yXlUa {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__mv9Jk {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  position: relative;
}
.freeBox__f7DzP {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  position: relative;
  width: 100%;
  height: 50px;
  min-width: 0;
  flex-shrink: 0;
}
.columns__lVq3J {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 0;
  min-width: 0;
  padding: 0px;
}
.columns__lVq3J > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.columns__lVq3J > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 10px) * 2 / 12);
}
.columns__lVq3J > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 10px) * 10 / 12);
}
.columns__lVq3J > :global(.__wab_flex-container) > *,
.columns__lVq3J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__lVq3J > :global(.__wab_flex-container) > picture > img,
.columns__lVq3J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lVq3J {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lVq3J > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 0;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lVq3J > :global(.__wab_flex-container) > :nth-child(2n + 1) {
    width: calc((100% - 2 * 10px) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lVq3J > :global(.__wab_flex-container) > :nth-child(2n + 2) {
    width: calc((100% - 2 * 10px) * 9 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lVq3J > :global(.__wab_flex-container) > *,
  .columns__lVq3J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__lVq3J > :global(.__wab_flex-container) > picture > img,
  .columns__lVq3J
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
.column___7Msz1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.freeBox___2Tqon {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  position: relative;
}
.select__w9Sat:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: auto;
  max-height: none;
}
.text__jhZtD {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #706f6c;
  text-align: left;
  text-transform: none;
  letter-spacing: 1px;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.column___7KDv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 0px;
}
.freeBox__eZaOs {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  position: relative;
}
.button___6ZZsh:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__yuGn {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: var(--token-GQDOf6FevecNcO);
  text-align: left;
  text-transform: none;
  letter-spacing: 1px;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.img__c2Exb {
  position: relative;
  object-fit: cover;
  max-width: 166px;
  margin-bottom: 0px;
  margin-top: calc(0px + 30px) !important;
  margin-right: 0px;
  margin-left: 0px;
  object-position: 50% 50%;
}
.img__c2Exb > picture > img {
  object-fit: cover;
  object-position: 50% 50%;
}
.img__c2Exb > .__wab_img-spacer > img {
  object-fit: cover;
  object-position: 50% 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__c2Exb {
    max-width: 90px;
    margin-top: calc(0px + 30px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: calc(0px + 0px) !important;
  }
}
.freeBox__qHFi {
  flex-direction: column;
  display: flex;
  height: auto;
  position: relative;
  width: 100%;
  background: none;
  min-width: 0;
  padding: 40px 16px;
}
.freeBox__qHFi > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__qHFi > :global(.__wab_flex-container) > *,
.freeBox__qHFi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qHFi > :global(.__wab_flex-container) > picture > img,
.freeBox__qHFi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qHFi {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.freeBox__dZMb {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__k1QnP {
  flex-direction: column;
  display: flex;
  max-width: 1080px;
}
.freeBox__k1QnP > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__k1QnP > :global(.__wab_flex-container) > *,
.freeBox__k1QnP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__k1QnP > :global(.__wab_flex-container) > picture > img,
.freeBox__k1QnP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.text___5MCi {
  position: relative;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #010101;
  text-align: left;
  text-transform: none;
  letter-spacing: 1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___5MCi {
    font-size: 11px;
  }
}
.freeBox__i1ZWo {
  flex-direction: column;
  display: flex;
  max-width: 1080px;
}
.freeBox__i1ZWo > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__i1ZWo > :global(.__wab_flex-container) > *,
.freeBox__i1ZWo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__i1ZWo > :global(.__wab_flex-container) > picture > img,
.freeBox__i1ZWo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.httpsstudioplasmicapp {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  color: #ff85b4;
  text-transform: capitalize;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  text-align: left;
  letter-spacing: 1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .httpsstudioplasmicapp {
    font-size: 12px;
  }
}
