.root {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: 101px;
  max-width: 100%;
  background: linear-gradient(90deg, #0d61ffcc 0%, #00f2bc80 100%) 0% 0% / 100%
    100% repeat;
  backdrop-filter: blur(5px);
  position: relative;
  min-width: 0;
  -webkit-backdrop-filter: blur(5px);
  padding: 0px 8px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 15px;
}
.freeBox {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 0px;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox > :global(.__wab_flex-container) {
    margin-left: calc(0px - 9px);
    width: calc(100% + 9px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox > :global(.__wab_flex-container) > *,
  .freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox > :global(.__wab_flex-container) > picture > img,
  .freeBox
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 9px;
    margin-top: 0px;
  }
}
.link {
  position: relative;
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link {
    margin-left: calc(25px + 9px) !important;
  }
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 77px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.spacer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 73px;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .spacer {
    margin-right: 0px;
    display: flex;
  }
}
.button__ynUuJ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__ynUuJ:global(.__wab_instance) {
    width: 69px;
    flex-shrink: 0;
  }
}
.svg__rChJ3 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__vRJa {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__vEbLh:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__vEbLh:global(.__wab_instance) {
    width: 71px;
    flex-shrink: 0;
  }
}
.svg__dYgkX {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___7Y3By {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__fqR2T:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__fqR2T:global(.__wab_instance) {
    width: 86px;
    flex-shrink: 0;
  }
}
.svg__awbFk {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__yBmTa {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__cthf9:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  plasmic-display-none: false;
}
@media (min-width: 0px) and (max-width: 768px) {
  .buttonsynced__cthf9R2Qli:global(.__wab_instance) {
    display: none;
  }
}
.svg__giHqH {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__kSd5G {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__gxBr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__gxBr:global(.__wab_instance) {
    display: none;
  }
}
.svg__rkWjo {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text {
  color: #ffffff;
}
.svg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
