.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  max-width: 196px;
  min-width: 0;
}
.loading {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 0px;
  min-width: 0;
}
.progression {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  align-self: center;
  left: auto;
  top: auto;
  min-width: 0;
}
.progression > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.progression > :global(.__wab_flex-container) > *,
.progression > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.progression > :global(.__wab_flex-container) > picture > img,
.progression
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.slotTargetChildren {
  text-align: center;
}
.percent {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-right: 170px;
  text-align: center;
  margin-right: 0px;
  min-width: 0;
  display: block;
}
